body{
    
    background-image: url("back.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'McLaren', cursive;

}
*{
    margin:0px;
    padding:0px;
}
#container{
    width:50%;
    height: 50vh;
    position: absolute;
    left:25%;
    top:30%;
    right:auto;
    display: flex;
    flex-direction: row;


}
#container .box{
    flex:1;
    background-color: blanchedalmond;
    margin:20px;
}
h1{
   color:white;
   position: absolute;
   left:43%;
   top:20%;
   font-size: 50px;
}
img{
    align-items: center;
    position: relative;
    
}