
*{
    margin:0px;
    padding:0px;
}
body{
    
        background-image: url("back.png");
        background-repeat: no-repeat;
        background-size: 100%;
    
}
.bars{
    
    display: block;
    margin: auto;
    margin-top: 13px;
    width: 24px;
    cursor: pointer;
}
.menu-icon .bars .bar1, .menu-icon .bars .bar2, .menu-icon .bars .bar3 {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    margin: 0 0 4px auto;
    background-color: white;
}

#name{
    position: absolute;
    
    top:40%;
    color: white;
    font-family: 'Yeon Sung', cursive;
}
#navMenuIcon{
    position: absolute;
    left:95%;
    top:2%;
}
#fp-nav{
    position:absolute;
    top:45%;
    left:5%;
    cursor: pointer;
    font-size: 30px;
    color:white;
}
#fp-nav .active{
    opacity:2;
    background-color: white;
    width:100px;
}
#back{
    width:50px;
    height:50px;
}
#gi{
    width:20%;
    height:100px;
    display: flex;
    flex-direction: row;
    color:white;
    position: absolute;
    top:2%;
    left:2%;
}
#gi #giacc{
    margin:10px;
    position: relative;
    cursor: pointer;
  
}
#iknow{
    position: absolute;
    top:80%;
    left:41%;
}
#iknow .logo{
    margin:10px;
}
.dropdown{
    height:30vh;
    width:10%;
    background-color: white;
    position: absolute;
    left:90%;
    top:7vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:translateX(100%);
    
}


.dropdown div{
    flex:1;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.navMenuIcon:hover{
    display: none;
}
