*{
    margin:0px;
    padding:0px;
}
body{
    
    background-image: url("back.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'McLaren', cursive;

}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'McLaren', cursive;
    animation: fadein 5s 1;
    animation-timing-function: ease-in-out;
}
.container #headin{
    flex:1;
    color:white;
    align-items: center;
    position: absolute;
    left:50vh;
    font-size: 46px;
    
}
.container #info{
    flex:1;
    color:white;
    align-items: center;
    position: absolute;
    left:50vh;
    top:40vh;
    font-size: 30px;
    
}
#fp-nav{
    width:90%;
    height:50%;
    position:absolute;
    top:45%;
    left:5%;
    cursor: pointer;
    font-size: 30px;
    color:white;
    font-family: 'McLaren', cursive;
    display: flex;
}
h1{
    color: blanchedalmond;
    margin-top: -250px;
    margin-left: 600px;

}
p1{
    color: blanchedalmond;
    margin-top: -250px;
    margin-left: 500px;
}
@keyframes fadein{
    from{opacity:0;}
    to{opacity:1;}
}